.app {
  padding: 10px;
  width: 30%;
  margin: 0 auto;
}

.search {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.search input {
  flex: 0 0 60%;
  border: 1px solid orangered;
  border-radius: 10px;
  outline: none;
  padding: 15px;
}

.search button {
  flex: 0 0 30%;
  border: none;
  background: papayawhip;
  border-radius: 10px;
  cursor: pointer;
  color: red;
  outline: none;
}

.search button:hover {
  background: #ff6127;
  color: white;
}

.in_stock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.in_stock input {
  margin-right: 10px;
}

.product-list {
  border: 1px solid #e76f51;
  border-radius: 10px;
  padding: 20px;
}

.category {
  margin-bottom: 15px;
  margin-top: 10px;
}

.product-row {
  margin: 5px 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loader h1 {
  margin-left: 10px;
  color: orangered;
}
