.app {
  padding: 10px;
  width: 30%;
  margin: 0 auto;
}

.search {
  margin: 10px 0;
}

.in_stock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.in_stock input {
  margin-right: 10px;
}

.product-list {
  border: 1px solid #e76f51;
  border-radius: 10px;
  padding: 20px;
  background: #ece8e8;
  font-style: italic;
}
